<div id="lds" class="lds-wrapper lds-visible">
    <div class="lds-ring">
        <div></div>
        <div></div>
    </div>
</div>

<style>
    .lds-wrapper {
        position: fixed;
        height: 100vh;
        width: 100vw;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.5s, opacity 0.5s linear;
    }
    .lds-visible {
        visibility: visible !important;
        opacity: 1 !important;
        transition: opacity 0.5s linear !important;
    }
    .lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
    }
    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
    }
    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }
    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }
    .lds-ring div:nth-child(3) {
        -delay: -0.15s;
    }
    @keyframes lds-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>