<div class="header header-fixed unselectable header-dark header-animated">
    <div class="header-brand">
        <div class="nav-item no-hover">
            <a href="/">
                <h6 class="title">N23Auth</h6>
            </a>
        </div>
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span> 
        </div>
    </div>
    <div class="header-nav" id="header-menu">
        <div class="nav-left">
            <div class="nav-item text-center">
                <a href="//github.com/nekoscloud/hydra-client">
                    <span class="icon">
                        <i class="fa-brands fa-wrapper fa-github" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
        <div class="nav-right">
            <div class="nav-item">
                <a href="/account">Account</a>
                {{with .user}}
                    <a href="#" onclick="logout()">Log out</a>
                {{end}}
            </div>
        </div>
    </div>
</div>