{{define "pagetitle"}}N23Auth - Terms{{end}}

{{define "content"}}
<section class="section">
    <div class="hero fullscreen">
        <div class="hero-body">
            <div class="content">
                <div class="text-center">
                    <h1>Terms of Use</h1>
                    <p>Last updated: May 01, 2022</p>
                    <h2 id="use-of-the-website">Use of the website</h2>
                    <p>Your access to this website (n23.io) means you automatically agree to the Terms of Use and the Privacy Policy. 'This website' refers to all webpages under the zprotect.dev, n23.io and it-snek.com domain names.</p>
                    <p>website is for your personal and non-commercial use. You may not modify, copy, distribute, transmit, display, publish, licence any products or services obtained from this website.</p>
                    <p>You will not use the website for any purpose that is unlawful by these Terms of Use. You may not use the website in any manner that may harm, disable or cause burden on any server or networks of this website.</p>
                    <h2 id="use-of-zprotect-products">Use of zProtect products</h2>  
                    <p>It is forbidden to distribute, sell, reverse engineer, modify, decompile, deobfuscate, or unarchive zProtect products or any other zProtect binaries provided without explicit permission from the zProtect team.</p>
                    <p>It is forbidden to share or resell the licences of our products without permission. zProtect is all right reserved.</p>
                    <p>It is forbidden to distribute false or abusive information about our products.</p>
                    <p>The zProtect team has the right to suspend your licence of any zProtect product in case of violation of any of these rules.</p>
                    <h2 id="data-processing">Data processing</h2>
                    <p>By using any of our services you consent to the processing of your personal data in order to protect our services from misuse, detect bugs, prevent fraud and improve our services.</p>
                    <p>We collect and may process the following data:</p>
                    <ul>
                        <li>Usernames;</li>
                        <li>Hash (bcrypt) of passwords;</li>
                        <li>Hash (sha256) of the IP used to access our services;</li>
                        <li>Active sessions on our website and related sites;</li>
                        <li>Different types of information about your device and local time.</li>
                    </ul>
                    <h2 id="disclaimer">Disclaimer</h2>
                    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
                    <p>THE ZPROTECT TEAM ALSO RESERVES THE RIGHT TO SUSPEND YOUR LICENCE TO ZPROTECT PRODUCTS AT ANY TIME WITHOUT GIVEN NOTICE.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}